/*-- "Hide top and bottom orange bars of datatable" --*/

.ui-widget-header {
    display: none;
}

.cell-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-style: solid;
    border-color: black;
    background: white;
    border-width: 0.15em;
}

table {
    border-collapse: separate;
}

table tbody td {
    padding: 0.4em;
}

table thead th {
    font: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    border-right: 1px solid #ddd;
    text-align: center;
    border-collapse: separate !important;
}

.myheaders {
    border-bottom: 1px solid #ddd !important;
}

table thead th:first-child {
    border-radius: 0.2em 0 0 0 !important;
}

table thead th:last-child {
    border-radius: 0 0.2em 0 0 !important;
    border-right: none !important;
}

.odd {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd !important;
}

.even {
    background-color: #ffffff;
    border-top: 1px solid #ddd !important;
}

.timeline {
    border-top: 0em solid !important;
    padding-bottom: 0em !important;
    padding-top: 0em !important;
    border-bottom: 1px solid #ddd !important;
}

.progress {
    margin-bottom: 0.8em !important;
}

.progress-meter {
    margin-top: -1.75em;
    min-height: 1em;
    border-bottom: 0.1em solid rgb(160, 160, 160) !important;
}

.progress-meter> .meter {
    position: relative;
    float: left;
    min-height: 1em;
    border-width: 0em;
    border-style: solid;
    border-color: rgb(160, 160, 160) !important;
}

.progress-meter> .meter-left {
    border-left-width: 0.1em;
}

.progress-meter> .meter> .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -1.2em;
    width: 100%;
    font-size: 0.5em;
    color: rgb(160, 160, 160) !important;
    text-align: left;
}

.indicator {
    float: left;
    position: absolute;
    z-index: 2;
}

.figureanchor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.equipement {
    position: relative;
    float: right;
    border-radius: 0.65em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
