<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logPath" value="C:\CSIFLEX\Logs\"/>
  <variable name="database" value="False"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="file"
            name="CSIFLEX_MU_Analytics"
            layout="${date} - ${level:uppercase=true} > ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            filename="${var:logPath}CSIFLEX_MU_Analytics.log"
            archiveFileName="${var:logPath}Archive\CSIFLEX_MU_Analytics.{#}.log"
            archiveAboveSize="100000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="3"
            concurrentWrites="False"
            keepFileOpen="true"/>

  </targets>

  <rules>
    <logger name="CSIFLEX_MU_Analytics" writeTo="CSIFLEX_MU_Analytics" minlevel="Info" />
  </rules>
</nlog>
