<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SERVER_NAME" value="\\Hp-pav-08vc" />
    <add key="LOG_FILE" value="C:/xampp2/servicelog.txt"/>
    <!--<add key="SERVER_NAME" value="\\Omair-PC\Users" />-->
    <add key="SERVER_PROGRAM_DATA" value="\c\ProgramData\CSI Flex Server\sys\" />
    <add key="SERVER_ENET_PATH" value="\c\_eNETDNC\" />
  </appSettings>
</configuration>