.app-title {
    color: rgb(190, 190, 190);
    float: right;
    font-size: 1em;
    text-align: right;
}

.app-date {
    float: left;
    color: rgb(190, 190, 190);
    font-size: 1em;
}

#temperatureSection {
    color: rgb(190, 190, 190);
    font-size: 1em;
    text-align: center;
}

#csiFlexLogo {
    text-align: left;
}

#logoSection {
    margin-bottom: 0.3em;
    z-index: 1
}

.single-line {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}

.rounded {
    border-radius: 0.25em;
}

.weathericon {
    display: block;
    position: absolute;
    left: 55%;
}

.legendcircle {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    float: left;
    clear: left;
}

.legendstatus {
    line-height: inherit;
    margin-left: 1.5em;
    font-size: 0.85em;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    float: middle;
}

.contrast {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px Black;
}

.padding-sm {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}
