<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  

  <appSettings>
    <add key="SERVER_NAME" value="\\Hp-pav-08vc\" />
    <!--This SERVER NAME is For Testing<add key="SERVER_NAME" value="\\Hp-pav-08vc\" /> otherwise -->
    <add key="LOG_FILE" value="C:/ServiceLog.txt" />
   <!--is a comment<add key="SERVER_NAME" value="\\Omair-PC\Users" /> \_eNETDNC\_SETUP\MonSetup.sys--> 
    <add key="MON_SETUP" value="MonSetup.sys" />
    <add key="SHIFT_SETUP" value="ShiftSetup2.sys" />
    <add key="EHUB_CONF" value="eHUBConf.sys" />
    <add key="SERVER_PROGRAM_DATA" value="\c\ProgramData\CSI Flex Server\sys\" />
    <add key="SERVER_ENET_PATH" value="\c\_eNETDNC\" />
    <!--MOLDMASTERS SETTINGS-->
  <!--<add key="SERVER_NAME" value="" />
    
    <add key="LOG_FILE" value="C:/ServiceLog.txt" />
  <add key="SERVER_NAME" value="\\Omair-PC\Users" /> \_eNETDNC\_SETUP\MonSetup.sys
    <add key="MON_SETUP" value="MonSetup.sys" />
    <add key="SHIFT_SETUP" value="ShiftSetup2.sys" />
    <add key="EHUB_CONF" value="eHUBConf.sys" />
    <add key="SERVER_PROGRAM_DATA" value="C:\ProgramData\CSI Flex Server\sys\" />
    <add key="SERVER_ENET_PATH" value="C:\_eNETDNC\" />-->
  </appSettings>


<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>