<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logPath" value=""/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="file"
            name="CSIFLEXServer"
            layout="${date} - ${level:uppercase=true} > ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logPath}\CSIFLEXServer.log"
            archiveFileName="${var:logPath}\CSIFLEXServer.{###}.log"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="False"
            keepFileOpen="true"/>
    
    <target xsi:type="file"
            name="CSIFLEXService"
            layout="${date} - ${level:uppercase=true} > ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logPath}\CSIFLEXService.log"
            archiveFileName="${var:logPath}\CSIFLEXService.{#}.log"
            archiveEvery="Sunday"
            maxArchiveFiles="7"
            concurrentWrites="False"
            keepFileOpen="true"/>
    
    <target xsi:type="file"
            name="CSIFLEXReporting"
            layout="${date} - ${level:uppercase=true} > ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            filename="${var:logPath}\CSIFLEXReporting.log"
            archiveFileName="${var:logPath}\CSIFLEXReporting.{#}.log"
            archiveEvery="Sunday"
            maxArchiveFiles="7"
            concurrentWrites="False"
            keepFileOpen="true"/>

  </targets>

  <rules>
    <logger name="CSIFLEXServer" writeTo="CSIFLEXServer" minlevel="Info" />
    <logger name="CSIFLEXService" writeTo="CSIFLEXService" minlevel="Info" />
    <logger name="CSIFLEXReporting" writeTo="CSIFLEXReporting" minlevel="Debug" />
  </rules>
</nlog>
