<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net45" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.VS2015.WinForms" version="12.0.2.2402" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Renci.SshNet.Async" version="1.2.0" targetFramework="net45" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" />
  <package id="Tungsten.Firewall" version="2.0.0" targetFramework="net45" />
</packages>