<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=!server!;user=client;password=csiflex123;port=3306;Convert Zero Datetime=True;Allow User Variables=True;"/>
  </connectionStrings>
</configuration>