<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSIFLEX.Connectware.Data.Common" version="1.0.0" targetFramework="net461" />
  <package id="CSIFLEX.License.Data" version="1.0.1" targetFramework="net461" />
  <package id="CSIFLEX.License.Library" version="1.0.0" targetFramework="net461" />
  <package id="CSIFLEX.Utilities" version="1.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net45" />
  <package id="LumenWorksCsvReader" version="3.9.1" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.4.1" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net461" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
</packages>