.mymarquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.mymarquee:hover span {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.mymarquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: mymarquee 5s linear infinite;
}

@-moz-keyframes mymarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes mymarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes mymarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.myshaker {
    /*width: 125%;*/
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.myshaker span {
    transform: translateX(50%);
    display: inline-block;
    text-indent: 0;
    text-align: center;
    animation: myshaker 4s linear infinite alternate;
}

@-moz-keyframes myshaker {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-45%);
    }
}

@-webkit-keyframes myshaker {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-45%);
    }
}

@keyframes myshaker {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-45%);
    }
}
